In [2]:
from query_utils import connect_catalog

In [3]:
con = connect_catalog()

✅ 已成功连接并切换至 Catalog: C:\Users\mu\Desktop\the-nomad-data-stack\.duckdb\catalog.duckdb

In [5]:
con.execute("SHOW ALL TABLES;").df()

,database,schema,name,column_names,column_types,temporary
0,catalog,catalog_meta,schema_migrations,"[filename, checksum, applied_at]","[VARCHAR, VARCHAR, TIMESTAMP]",False
1,catalog,ods,ods_etf_universe_whitelist,"[symbol, name, enabled, trade_date, dt]","[VARCHAR, VARCHAR, INTEGER, DATE, VARCHAR]",False
2,catalog,ods,ods_fund_etf_history,"[symbol, trade_date, open, high, low, close, v...","[VARCHAR, DATE, DOUBLE, DOUBLE, DOUBLE, DOUBLE...",False
3,catalog,ods,ods_fund_etf_spot,"[symbol, name, amount, trade_date, dt]","[VARCHAR, VARCHAR, DOUBLE, DATE, VARCHAR]",False

In [19]:
con.sql("select * from ods.ods_fund_etf_history").df()

,symbol,trade_date,open,high,low,close,volume,amount,amplitude,change_percent,change_amount,turnover_rate,dt
0,513770,2025-12-22,0.530,0.535,0.529,0.530,10897266.0,579133217.0,1.13,0.19,0.001,4.65,2025-12-22
1,510210,2025-12-22,0.975,0.982,0.975,0.981,3677193.0,360431216.0,0.72,0.62,0.006,5.90,2025-12-22