In [8]:
from query_utils import connect_catalog

In [9]:
con = connect_catalog()

✅ 已成功连接并挂载 Catalog (只读): /Users/mu/Desktop/the-nomad-data-stack/.duckdb/catalog.duckdb

In [11]:
con.execute("SHOW ALL TABLES;").df()

,database,schema,name,column_names,column_types,temporary
0,catalog,catalog_meta,schema_migrations,"[filename, checksum, applied_at]","[VARCHAR, VARCHAR, TIMESTAMP]",False
1,catalog,ods,ods_etf_universe_whitelist,"[symbol, name, enabled, trade_date, dt]","[VARCHAR, VARCHAR, INTEGER, DATE, VARCHAR]",False
2,catalog,ods,ods_fund_etf_spot,"[symbol, name, amount, trade_date, dt]","[VARCHAR, VARCHAR, DOUBLE, DATE, VARCHAR]",False

In [14]:
con.sql("select * from ods.ods_etf_universe_whitelist").df()

   symbol      name  enabled trade_date          dt
0  513770  港股互联网ETF        1 2025-12-22  2025-12-22